html,
body {
  background-color: rgb(199, 216, 226);
  font-family: 'Arial Narrow', Arial, sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

main {
  color: #fff;
  flex-grow: 1;
}

.bg-primary {
  background: rgb(67,87,97) !important;
  color: #fff;
}

.bg-secondary {
  background: #eee !important;
  color: #000;
}

.bg-info {
  background: rgb(199,216,226) !important;
  /* color: #023d6b; */
}

.text-secondary {
  color: #eee !important;
}


/* Align icons */
.bi {
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}


/* Links and nav links */

a {
  text-decoration: none;
  color: rgb(67,87,97);
}

a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgb(67,87,97);
}

a.nav-link {
  color: rgb(199,216,226);
}

a.nav-link:hover {
  color: rgb(109,131,143);
}


/* Buttons */

.btn-primary {
  background-color: rgb(229,149,26);
  border-color: rgb(229,149,26);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgb(153,70,28);
  border-color: rgb(153,70,28);
}

.btn-outline-primary {
  border-color: rgb(67,87,97);
  color: rgb(67,87,97);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: rgb(67,87,97);
  border-color: rgb(67,87,97);
  color: #fff;
}


/* Progress bar */

.progress-bar {
  background-color: rgb(67,87,97);
}


/* Visually disabled select dropdowns */

.form-select.disabled {
  pointer-events: none;
  background-color: #e9ecef;
  background-image: none;
}


/* Log divs */

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  position: relative;
  list-style: none;
  color: black;
}

.log-div {
  padding: 0.5rem;
  border-top: 1px solid #dfe0e1;
  color: rgb(67,87,97);
}

.log-div:first-child {
    border-top: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.5rem;
  line-height: 0;
  margin-top: 0.75rem;
  padding-right: 0.5rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 1.75rem;
}


/* JQuery confirm boxes */

.jconfirm-box .checkbox {
  margin-top: 10px;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}