body {
    background-color: rgb(199, 216, 226) !important;
	font-family: 'Arial Narrow', Arial, sans-serif !important;
	padding-bottom: 60px; /* Prevent content from being hidden under footer */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Narrow', Arial, sans-serif !important;
}

.navbar {
    background-color: rgb(67,87,97) !important;
    border: none;
	font-family: 'Arial Narrow', Arial, sans-serif !important;
	color: white !important;
}

.nav-link {
    color: white !important; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: rgb(109,131,143) !important;
}

.jpy-logo {
	height: 80px !important;
	width: auto !important;
}

/* Login */
#jsc-login-container {
	max-height: 30vh;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

#accounts-login-div {
	max-width: 100%;
	
}

.logo {
	max-height: 40px;
}

#logout {
	color: white !important;
	border: 1px solid white;
}

#logout:hover {
    background-color: rgb(109,131,143) !important;
}

.auth-form-body {
    background-color: rgb(109,131,143) !important;
    padding: 30px;
    border-radius: 10px;
	border: 1px solid rgba(208, 71, 10);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.auth-form-body label {
    color: white !important;
}

.auth-form-header {
    background-color: rgb(208,71,10) !important;
}

#login_submit {
	background-color: rgb(208,71,10) !important;
	border: none;
}

.login_error {
	background: rgba(234, 67, 34);
	max-width: max-content;
	color: white !important;
	text-align: center;
	padding: 5px 15px;
}

.white-band {
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: -1; /* Push it behind other content */
	display: flex;
    align-items: center;
    justify-content: center;
}

.white-band-content {
    width: 90%; /* Adjust the content width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-band-left {
	color: white !important;
	text-align: left;
    font-weight: bold !important;
}

.white-band-left p {
	background: rgba(153,70,28);
	max-width: max-content;
    margin-bottom: 3px; /* Adds spacing between the text lines */
	padding: 3px 5px;
}

.white-band-left p:last-child {
    margin-bottom: 0;
}

.white-band-right img {
    height: 200px;
    width: auto;
}

.custom-footer {
	background-color: rgb(67,87,97) !important;
    color: white !important;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 0;
	display: flex;
    align-items: center;
}

.version_footer {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 60px;
    left: 0;
	font-family: 'Arial Narrow', Arial, sans-serif !important;
}


.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-left p {
    color: white;
    font-weight: bold;
    display: inline-block;
	margin-bottom: 0;
}

.footer-right img {
    height: 40px;
    width: auto;
}
