.nav-link {
    color: white !important; /* Default text color */
    background-color: rgb(109,131,143);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: white !important; /* Default text color */
    background-color: rgb(67,87,97) !important;
}

.nav-link.active {
    color: white !important; /* Default text color */
    background-color: rgb(67,87,97) !important;
}
